<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:fragment="headerFragment">
    <title th:include=":: #pageTitle">Layout Generic Title</title>
    <meta charset="UTF-8" />
    <link href="/css/style.css" rel="stylesheet" />
    <link th:href="@{/images/logo.png}" rel="icon" type="image/x-icon" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/big.js/6.1.1/big.min.js"></script>

    <script src="https://unpkg.com/maplibre-gl/dist/maplibre-gl.js"></script>
    <link
      href="https://unpkg.com/maplibre-gl/dist/maplibre-gl.css"
      rel="stylesheet"
    />
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-KyZXEAg3QhqLMpG8r+Knujsl5+5hb7ie1L1xq6tY5Zk="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://kit.fontawesome.com/a076d05399.js"
      crossorigin="anonymous"
    ></script>
  </head>
</html>
