<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title th:text="${title}">Default Title</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />

    <script src="https://unpkg.com/maplibre-gl/dist/maplibre-gl.js"></script>
    <link
      href="https://unpkg.com/maplibre-gl/dist/maplibre-gl.css"
      rel="stylesheet"
    />
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-KyZXEAg3QhqLMpG8r+Knujsl5+5hb7ie1L1xq6tY5Zk="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://kit.fontawesome.com/a076d05399.js"
      crossorigin="anonymous"
    ></script>
  </head>
</html>
