<!-- src/main/resources/templates/fragments/header.html -->
<header th:fragment="header">
  <nav class="bg-blue-500 p-4 text-white">
    <ul class="flex space-x-4">
      <li><a href="/" class="hover:text-gray-300">Home</a></li>
      <li><a href="/users" class="hover:text-gray-300">Users</a></li>
      <li><a href="/about" class="hover:text-gray-300">About</a></li>
      <li><a href="/students" class="hover:text-gray-300">Students</a></li>
      <li><a href="/receipts" class="hover:text-gray-300">Receipts</a></li>
      <li><a href="/donors" class="hover:text-gray-300">Donors</a></li>
      <li><a href="/campaigns" class="hover:text-gray-300">Campaigns</a></li>
      <li>
        <a href="/payment-methods" class="hover:text-gray-300"
          >Payment Methods</a
        >
      </li>
      <li><a href="/donations" class="hover:text-gray-300">Donations</a></li>

      <li><a href="/contact" class="hover:text-gray-300">Contact</a></li>
    </ul>
  </nav>
</header>
