<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Create Feedback</title>
  </head>
  <body>
    <h1>Create Feedback</h1>
    <form th:action="@{/feedbacks/add}" th:object="${feedback}" method="post">
      <div>
        <label for="message">Message:</label>
        <textarea id="message" th:field="*{message}"></textarea>
        <div th:if="${#fields.hasErrors('message')}" th:errors="*{message}">
          Message Error
        </div>
      </div>
      <div>
        <label for="donor">Donor:</label>
        <select id="donor" th:field="*{donor}">
          <option
            th:each="donor : ${donors}"
            th:value="${donor.id}"
            th:text="${donor.user.username}"
          ></option>
        </select>
      </div>
      <div>
        <button type="submit">Submit</button>
      </div>
    </form>
    <a th:href="@{/feedbacks}">Back to List</a>
  </body>
</html>
